/**
 * PALMSCom container, main styles for widget.
 */
.palmscom {

  -webkit-box-shadow: 0px 0px 1px #000; 
     -moz-box-shadow: 0px 0px 1px #000; 
          box-shadow: 0px 0px 1px #000; 

  border-left: 1px solid #eee;
  background: #ffffff;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.palmscom:focus,
.palmscom div:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  background: #eee; /*rgba(221, 221, 221, .8);*/ 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
  /*background: rgba(221, 221, 221, 0.4);*/ 
}

.palmscom .layout {
  bottom: 0px;
  height: 100%;
  top: 0px;
}

/**
 * PALMSCom header, sits at top, no matter state (collapsed/expanded)
 */
/*
.palmscom.palmscom-horizontal.collapsed {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 30px;
  right: 15px;
  bottom: auto;
}

.palmscom.palmscom-vertical.collapsed {
  height: 30px;
  width: 100%;
}
*/
.palmscom .header {
  border-bottom: 1px solid #eee;
}


.palmscom .header .toggler {  
  border-left: 1px solid #eee;  
  cursor: pointer;
  height: 20px;
  padding: 5px;
  width: 20px;
  top: 0px;
  right: 0px;
  position: absolute;  
}

.palmscom .header .message {
  padding: 6px 10px;
}

.palmscom.collapsed .header .message,
.palmscom.collapsed .header .message * {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.palmscom.palmscom-horizontal.collapsed.header .message,
.palmscom.palmscom-horizontal.collapsed .header .message * {
  overflow: hidden;
}

.palmscom.palmscom-horizontal.collapsed .header {
  border-bottom: none;
}

.palmscom.palmscom-horizontal.collapsed {
  height: 30px;
}

.palmscom.palmscom-vertical.collapsed {
  width: 30px;
}

.palmscom.palmscom-vertical.collapsed .header {

}

.palmscom.palmscom-vertical.collapsed .message {
  -webkit-transform: rotate(90deg);  
     -moz-transform: rotate(90deg);  
      -ms-transform: rotate(90deg);  
       -o-transform: rotate(90deg);  
          transform: rotate(90deg);
/*             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=6.123031769111886e-17, M12=-1, M21=1, M22=6.123031769111886e-17, sizingMethod='auto expand');*/
               zoom: 1;
-webkit-transform-origin: 0px 30px;
 -moz-transform-origin: 0px 30px;
  -ms-transform-origin: 0px 30px;
   -o-transform-origin: 0px 30px; 
      transform-origin: 0px 30px;
}

.palmscom.palmscom-horizontal .header .toggler {
  background: #fff url('img/arrows.png') no-repeat -1px 0px;
}

.palmscom.palmscom-horizontal.collapsed .header .toggler {
  background: #fff url('img/arrows.png') no-repeat -29px -29px;
}

.palmscom.palmscom-horizontal.collapsed .header .message {
  width: 249px;
}

.palmscom.palmscom-vertical .header .toggler {
  background: #fff url('img/arrows.png') no-repeat -28px -1px;
}

.palmscom.palmscom-vertical.collapsed .header .toggler {
  background: #fff url('img/arrows.png') no-repeat -1px -30px;
}

/**
 * OnlineUsersWidget styles
 */
.palmscom .online-users {
  border-top: 3px solid #eee;
  color: #666;
  cursor: pointer;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
}

.palmscom .online-users ul {
  text-align: left;
  line-height: 16px;
  margin: 10px 10px 10px 25px;
  padding: 0;
}

/**
 * CreateMessageWidget styles
 */
.palmscom .create-message {
  border-bottom: 3px solid #eee;
  padding: 10px 10px;  
}

.palmscom .create-message .gwt-Button {
  display: block;
  float: right;
  margin-top: 1px;
}

.palmscom .create-message .textInput {  
  border: 1px solid #eee;
  display: block;
  float: left;
  padding: 4px;
  width: 215px;
  height: 55px;
}

.palmscom .textInput:focus {
  outline: none;  
}

.palmscom .create-message .textInput-watermark {
  color: #666;
  display: block;
  font-style: italic;  
  width: 264px;
  height: 18px;
}

.palmscom .create-message textarea {
  font-size: 12px;  
  font-family: Arial Unicode MS, Arial, sans-serif;
  overflow: hidden;
  resize: none;
}


/**
 * Conversation stream styles
 */

.palmscom .stream {
  /*margin: 5px 10px;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  font-family: sans-serif;
  font-size: 12px;  
  clear: both;
}

.palmscom .stream .header {
  border: none;
  clear: both; 
  line-height: 20px;
  height: 18px;
}

.palmscom .stream .header div {
  float: left;
} 

.palmscom .stream .message {
  background: #f9f9f9;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.palmscom .stream .message .time {
  float: right;
  padding-left: 5px;
}

.palmscom .message .reply {
  cursor: pointer;
  float: left;
  padding-left: 5px;
}

.palmscom .reply a {
  color: #64b4ff; 
}

.palmscom .message .text {
  clear: both;  
}

.palmscom .message .time, .palmscom .message .author, .palmscom .message .reply {
  color: #777;
  font-style: normal;
  white-space: nowrap;
}

.palmscom .message.own { 
  /*background: #fff;*/
  cursor: default;
}

.palmscom .message.moi {
  background: #ffffd8;
}

.palmscom .message .author {
  color: #133fcf;
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.palmscom .message.own .author {
  color: #666;
}

.palmscom .message .text {
  color: #333;
  margin: 0;
}

.palmscom .message.own .text {
  font-style: italic;
}

.palmscom .message .text .user {
  /*color: #931818;*/
  font-weight: bold;
}

.palmscom .message .text .keyword {
 /* color: #181d93;*/
  font-weight: bold;
}

.palmscom .notify {
  background: #ffffd8;
}
