::-webkit-scrollbar {
  width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee;
  background: #eee; /*rgba(221, 221, 221, .8);*/ 
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
  /*background: rgba(221, 221, 221, 0.4);*/ 
}

.main {
  padding: 0 10px;
}

.container {  
  width: 300px;
  margin: 10px;
}

.header {
  background: #ccc;
  color: #333;
}

.header h1 {
  font-size: 14px;
  font-weight: normal;
  margin: 7px 0 0 12px;
}

.gwt-Hyperlink {
  cursor: pointer;
}

/**
 * CreateMessageWidget styles
 */
.create-message {
  border: 1px solid #eee; 
  border-bottom: 3px solid #eee;
  padding: 10px 10px;  
}

.create-message .gwt-Button {
  display: block;
  float: right;
  margin-top: 1px;
}

.create-message .textInput {  
  border: 1px solid #eee;
  display: block;
  float: left;
  padding: 4px;
  width: 215px;
  height: 55px;
}

.create-message .textInput:focus {
  outline: none;  
}

.create-message .textInput-watermark {
  color: #666;
  display: block;
  font-style: italic;  
  width: 264px;
  height: 18px;
}

.create-message textarea {
  font-size: 12px;  
  font-family: Arial Unicode MS, Arial, sans-serif;
  overflow: hidden;
  resize: none;
}

/**
 * OnlineUsersWidget styles
 */
.online-users {
  border: 1px solid #eee; 
  border-top: 3px solid #eee;
  color: #666;
  cursor: pointer;
  font-size: 10px;
  line-height: 26px;
  text-align: center;
}

.online-users:focus {
  outline: none;
}

.online-users ul {
  text-align: left;
  line-height: 16px;
  margin: 0 10px 0 25px;
  padding: 0;
}

/**
 * Conversation stream styles
 */

.stream {
  margin: 5px 10px;
  font-family: sans-serif;
}

.stream td {
  font-size: 12px;
}

.stream .time, .stream .author, .stream .reply {
  color: #777;
  font-size: 11px; 
  white-space: nowrap;
}

.stream .author {
  font-weight: bold;
}

.author {
  padding-left: 10px;
  width: 100%;
}

.message {
  padding-bottom: 10px;
}

